<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/normalize.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Marck+Script&display=swap"
    rel="stylesheet">
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <header>
    <div class="left">
      <div class="logo">
        <a href="/">
        {{!-- <img src="/img/logo.png" alt=""> --}}
        </a>
      </div>
    </div>
    <div class="center">
      {{!-- <h2>HeadHunter scrapper</h2>
      <h4>by Dmitriy Rudakov</h4> --}}
    </div>
    <div class="right">
      {{#if userName}}
      <a href="/users/{{userId}}">{{userName}}</a>
      <a href="/users/logout">logout</a>
      {{else}}
      <a href="/users/register">Register</a>
      <a href="/users/login">Login</a>
      {{/if}}
    </div>
  </header>
  <main>
    {{{body}}}
  </main>
  <footer></footer>
</body>

</html>
